// Экраны, аббревиатуры
$screen-all: '';
$screen-small: '-sm';
$screen-medium: '-md';
$screen-large: '-lg';

// Экраны, max-width в px
$screen-small-breakpoint: 767;
$screen-medium-breakpoint: 991;

// Гриды
$grid-columns-all: 6;
