.global-map {
  canvas {
    display: block; /* Убирает лишние отступы */
    max-width: 100%;  /* Ширина не больше контейнера */
    height: auto;     /* Высота подстроится пропорционально */
    border: 1px solid #ccc; /* Для наглядности */
  }
}
